// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alert {
  margin: 1em;
  font-size: 0.9em;
  color: #D32F2F;
}

input[type="submit"] {
  margin: 1em;
}
